body {
    background-color:DodgerBlue;
    margin: 0;
    padding: 0;
}

#av {
    margin-top: 5%;
    width: 80%;
    position: relative;
}

.jsavlabel {
    font-size: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
}

.jsavedgelabel {
    font-size: 100%;
    margin: 0;
}

.button {
    display: block;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    width: 500px;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}
.button:hover{
    background-color: white;
    color: dodgerblue;
    border:2px solid DodgerBlue;
}

.button1 {
    display: block;
    background-color: #6AA5F4;
    border: 2px solid #6AA5F4;
    color: white;
    width: 500px;
    height: 60px;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}
.button1:hover{
    background-color: white;
    color: #6AA5F4;
    border:2px solid #6AA5F4;
}

.button2 {
    display: block;
    background-color: #558AD3;
    border: 2px solid #558AD3;
    color: white;
    width: 500px;
    height: 60px;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}

.button2:hover{
    background-color: white;
    color: #558AD3;
    border:2px solid #558AD3;
}

.button3 {
    display: block;
    background-color: #2F66B0;
    border: 2px solid #2F66B0;
    color: white;
    width: 500px;
    height: 60px;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}
.button3:hover{
    background-color: white;
    color: #2F66B0;
    border:2px solid #2F66B0;
}

.container {
    width: 600px; 
    height: auto;
    border-radius: 25px; 
    background: white;
    margin:0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
