body {
    background-color:DodgerBlue;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px; 
    height: auto;
    border-radius: 25px; 
    background: white;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions {
    display: inline;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#av {
    margin: 2%;
    width: 80%;
    position: relative;
}

.jsavlabel {
    font-size: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
}

.jsavedgelabel {
    font-size: 100%;
    margin: 0;
}

.button {
    display: block;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}

.button:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid DodgerBlue;
}

.restart-button {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    font-size: 24px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
    position: relative;
    left: 230px;
    top: auto;

}

.restart-button:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid DodgerBlue;
}

.navButton {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    font-size: 24px;
    width: 100px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Open Sans';
}

.navButton:hover {
    background-color: white;
    color: dodgerblue;
    border: 2px solid DodgerBlue;
}

.text{
    font-family: 'Open Sans';
    color: dodgerblue;
    font-size: 24px;
}

.inputBox{
    border-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 6px;
    font-family: "Open Sans";
    color: dodgerblue;
    font-size: 24px;
}

.visualFeedback {
    width: 22vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
}

#CheckMarkCorrect,
.redXMarks > img,
.greyXMarks > img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

#CheckMarkCorrect {
    visibility: hidden;
}

.greyXMarks {
    position: absolute;
    z-index: 1;
    visibility: visible;
}

.redXMarks {
    position: relative;
    z-index: 2;
    visibility: hidden;
}

button:disabled{
    background: white;
    border-color: grey;
    color: grey;
}