body {
    background-color:DodgerBlue;
}

.container {
    width: 600px; 
    height: auto;
    border-radius: 25px; 
    background: white;
    margin:0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}